$color-white: #ffffff;
$color-black: #000000;
$color-gold: #fda354;
$color-silver: #b9b9b9;
$color-bronze: #da664c;

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 8px;
  background: $color-black;
  color: $color-white;
  font-family: 'Helvetica', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Arial, sans-serif;

  @media screen and (min-width: 768px) {
    overflow-x: hidden;
  }
}

.title {
  font-size: 24px;
  padding: 20px;
  color: $color-white;
  z-index: 6;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: 768px) {
    position: relative;
    top: calc(100vh - 190px);
    left: auto;
    width: auto;
    font-size: 80px;
    padding: 0 60px;
    text-align: left;
    letter-spacing: -4px;
    line-height: 80px;
    max-width: 500px;
  }

  @media screen and (min-width: 1024px) {
    top: calc(100vh - 250px);
    font-size: 120px;
    padding: 0 80px;
    letter-spacing: -6px;
    line-height: 120px;
  }

  @media screen and (min-width: 1280px) {
    top: calc(100vh - 350px);
    font-size: 160px;
    padding: 0 80px;
    letter-spacing: -8px;
    line-height: 160px;
  }
}

.podium {
  position: fixed;
  z-index: 4;
  font-size: 0;
  top: 100%;
  left: 50%;
  margin-left: -140px;

  @media screen and (max-width: 768px) {
    margin-top: -200px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    top: 0;
    background: $color-black;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }

  @media screen and (min-width: 768px) {
    top: 50%;
    left: auto;
    right: 0;
    margin-top: 150px;
    margin-right: 120px;
    transition: margin-top 0.75s ease 0s;

    .should-show-podium & {
      margin-top: -150px;
    }

    &::before {
      content: "";
      position: fixed;
      z-index: 3;
      right: auto;
      left: 0;
      top: 0;
      height: 100%;
      width: 60%;
      width: calc(100% - 360px);
      background: linear-gradient(to bottom,
        rgba($color-black, 0.9) 0%,
        rgba($color-black, 0.9) 33%,
        rgba($color-black, 0.8) 40%,
        rgba($color-black, 0) 44%,
        rgba($color-black, 0) 53.99%,
        rgba($color-black, 0.8) 57%,
        rgba($color-black, 0.9) 65%,
        rgba($color-black, 0.9) 100%);
    }

    &::after {
      content: "";
      position: fixed;
      z-index: 3;
      left: auto;
      right: 0;
      top: 0;
      height: 100%;
      width: 120px;
      background: linear-gradient(to bottom,
        rgba($color-black, 0.9) 0%,
        rgba($color-black, 0.9) 32%,
        rgba($color-black, 0.8) 38%,
        rgba($color-black, 0) 42%,
        rgba($color-black, 0) 52%,
        rgba($color-black, 0.8) 57%,
        rgba($color-black, 0.9) 63%,
        rgba($color-black, 0.9) 100%);
    }
  }

  @media screen and (min-width: 1024px) {
    margin-right: 140px;

    &::before {
      width: calc(100% - 440px);
    }

    &::after {
      width: 160px;
    }
  }
}

.medal {
  height: 275px;
  width: 100px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
  display: inline-block;

  @media screen and (min-width: 768px) {
    width: 80px;
    height: 225px;
  }

  @media screen and (min-width: 1024px) {
    width: 100px;
    height: 275px;
  }

  &.-gold {
    .medal-body {
      background-image: radial-gradient(50% 50px, circle, rgba($color-gold, 0) 42px, $color-gold 43px);
      background-image: -moz-radial-gradient(50% 50px, circle, rgba($color-gold, 0) 42px, $color-gold 43px);
      box-shadow: 0px 5px 0 0 rgba($color-gold, 0.6),
                  0px 10px 0 0 rgba($color-gold, 0.3),
                  0px 15px 0 0 rgba($color-gold, 0.05);

      @media screen and (min-width: 768px) {
        background-image: radial-gradient(50% 40px, circle, rgba($color-gold, 0) 32px, $color-gold 33px);
        background-image: -moz-radial-gradient(50% 40px, circle, rgba($color-gold, 0) 32px, $color-gold 33px);
      }

      @media screen and (min-width: 1024px) {
        background-image: radial-gradient(50% 50px, circle, rgba($color-gold, 0) 42px, $color-gold 43px);
        background-image: -moz-radial-gradient(50% 50px, circle, rgba($color-gold, 0) 42px, $color-gold 43px);
      }
    }
  }

  &.-silver {
    vertical-align: -50px;

    .medal-body {
      background-image: radial-gradient(50% 50px, circle, rgba($color-silver, 0) 42px, $color-silver 43px);
      background-image: -moz-radial-gradient(50% 50px, circle, rgba($color-silver, 0) 42px, $color-silver 43px);
      box-shadow: 0px 5px 0 0 rgba($color-silver, 0.6),
                  0px 10px 0 0 rgba($color-silver, 0.3),
                  0px 15px 0 0 rgba($color-silver, 0.05);

      @media screen and (min-width: 768px) {
        background-image: radial-gradient(50% 40px, circle, rgba($color-silver, 0) 32px, $color-silver 33px);
        background-image: -moz-radial-gradient(50% 40px, circle, rgba($color-silver, 0) 32px, $color-silver 33px);
      }

      @media screen and (min-width: 1024px) {
        background-image: radial-gradient(50% 50px, circle, rgba($color-silver, 0) 42px, $color-silver 43px);
        background-image: -moz-radial-gradient(50% 50px, circle, rgba($color-silver, 0) 42px, $color-silver 43px);
      }
    }
  }

  &.-bronze {
    vertical-align: -75px;

    .medal-body {
      background-image: radial-gradient(50% 50px, circle, rgba($color-bronze, 0) 42px, $color-bronze 43px);
      background-image: -moz-radial-gradient(50% 50px, circle, rgba($color-bronze, 0) 42px, $color-bronze 43px);
      box-shadow: 0px 5px 0 0 rgba($color-bronze, 0.6),
                  0px 10px 0 0 rgba($color-bronze, 0.3),
                  0px 15px 0 0 rgba($color-bronze, 0.05);

      @media screen and (min-width: 768px) {
        background-image: radial-gradient(50% 40px, circle, rgba($color-bronze, 0) 32px, $color-bronze 33px);
        background-image: -moz-radial-gradient(50% 40px, circle, rgba($color-bronze, 0) 32px, $color-bronze 33px);
      }

      @media screen and (min-width: 1024px) {
        background-image: radial-gradient(50% 50px, circle, rgba($color-bronze, 0) 42px, $color-bronze 43px);
        background-image: -moz-radial-gradient(50% 50px, circle, rgba($color-bronze, 0) 42px, $color-bronze 43px);
      }
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 110px;
    z-index: 1;
  }

  &::before {
    bottom: 100%;
    margin-bottom: -50px;
    background: radial-gradient(50% 100%, circle, rgba($color-black, 0) 50px, $color-black 51px);
    background: -moz-radial-gradient(50% 100%, circle, rgba($color-black, 0) 50px, $color-black 51px);
    background-repeat: no-repeat;
  }

  &::after {
    top: 100%;
    margin-top: -50px;
    background: radial-gradient(50% 100%, circle, rgba($color-black, 0) 50px, $color-black 51px);
    background: -moz-radial-gradient(50% 100%, circle, rgba($color-black, 0) 50px, $color-black 51px);
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 768px) {
    &::before,
    &::after {
      height: 100%;
      height: 100vh;
    }
  }
}

.medal-body {
  position: relative;
  z-index: 2;
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.countries {
  position: fixed;
  padding: calc(50vh - 140px) 0 0;
  white-space: nowrap;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  @media screen and (min-width: 768px) {
    position: static;
    margin: calc(100vh + 80px) 0 calc(100vh - 365px);
    padding: 0 0 0 80px;
    white-space: normal;
    width: auto;
    left: auto;
    top: auto;
    height: auto;
    overflow: visible;
  }

  @media screen and (min-width: 960px) {
    margin-top: calc(100vh - 300px);
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: calc(100vh - 385px);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: calc(100vh - 365px);
  }
}

.country {
  display: inline-block;
  padding: 0 10px;
  margin-right: 200px;
  width: 100%;
  text-align: center;
  counter-increment: item;

  @media screen and (min-width: 768px) {
    display: block;
    text-align: justify;
    text-justify: distribute;
    font-size: 0;
    padding: 0;
    margin-right: 0;
    position: relative;
  }

  &::before {
    content: counter(item);
    color: $color-white;
    font-size: 16px;
    opacity: 0.2;

    @media screen and (min-width: 768px) {
      position: absolute;
      right: 100%;
      margin-right: 15px;
      bottom: 0;
      margin-bottom: 10px;
      opacity: 1;
    }

    @media screen and (min-width: 1024px) {
      margin-bottom: 18px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 0;
    }
  }

  &::after {
    content: '';
    height: 0;
    display: inline-block;
    width: 100%;
  }
}

.country-identifier {
  display: block;

  @media screen and (min-width: 768px) {
    height: 60px;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
  }

  @media screen and (min-width: 1280px) {
    height: 120px;
    line-height: 130px;
  }
}

.country-name {
  margin: 10px 0;
  font-size: 40px;

  @media screen and (min-width: 768px) {
    white-space: nowrap;
    max-width: calc(100vw - 620px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 50px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 60px;
    line-height: 80px;
    max-width: calc(100vw - 680px);
  }

  @media screen and (min-width: 1280px) {
    font-size: 110px;
    line-height: 160px;
    max-width: calc(100vw - 700px);
  }
}

.country-count {
  color: rgba($color-white, 0.2);
  font-size: 20px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 100%;
    right: -95px;
    font-size: 16px;
    margin-top: -46px;
  }

  @media screen and (min-width: 1024px) {
    margin-top: -45px;
    font-size: 20px;
    right: -115px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: -72px;
  }
}

.country-medals {
  position: absolute;
  bottom: 38px;
  font-size: 0;
  width: 100%;
  margin-left: -2px;

  @media screen and (min-width: 768px) {
    position: static;
    width: auto;
    bottom: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
    margin-left: 0;
    opacity: 0;
    transition: opacity 0.5s ease 0.25s;

    .should-show-podium & {
      opacity: 1;
    }
  }

  @media screen and (min-width: 1024px) {
    margin-right: 55px;
  }
}

.country-medal {
  display: inline-block;
  font-size: 90px;
  font-weight: 800;
  width: 100px;
  text-align: center;
  position: relative;
  letter-spacing: -0.15em;
  left: -5px;

  @media screen and (min-width: 768px) {
    width: 79px;
    font-size: 70px;
    left: 15px;
  }

  @media screen and (min-width: 1024px) {
    width: 100px;
    font-size: 90px;
    line-height: 100px;
  }

  @media screen and (min-width: 1280px) {
    width: 100px;
    font-size: 110px;
    line-height: 120px;
  }

  &.-gold {
    color: $color-gold;
    top: -75px;
    @media screen and (min-width: 768px) { top: -85px; }
    @media screen and (min-width: 1280px) { top: -55px; }
  }

  &.-silver {
    color: $color-silver;
    top: -25px;
    @media screen and (min-width: 768px) { top: -35px; }
    @media screen and (min-width: 1280px) { top: -5px; }
  }

  &.-bronze {
    color: $color-bronze;
    top: 0;
    @media screen and (min-width: 768px) { top: -10px; }
    @media screen and (min-width: 1280px) { top: 20px; }
  }

  &.-total {
    display: none;
    position: absolute;
    top: 20px;
    left: 10px;
    color: #262626;

    @media screen and (min-width: 768px) {
      top: -10px;
      position: relative;
      display: inline-block;
      left: 30px;
    }

    @media screen and (min-width: 1280px) { top: 20px; }
  }
}

.search {
  position: fixed;
  top: 15px;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 7;
  transition: background 0.2s ease 0s;

  @media screen and (min-width: 768px) {
    top: 0;
  }

  @media screen and (min-width: 1024px) {
    padding: 35px;
  }

  &.is-opened {
    background: rgba(#000, 0.85);

    @media screen and (min-width: 768px) {
      background: rgba(#000, 0.6);
    }

    .search-input {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.search-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 2px solid $color-white;
  margin-bottom: 3px;
  cursor: pointer;

  &::before {
    content: "";
    width: 2px;
    height: 10px;
    position: absolute;
    left: 100%;
    top: 100%;
    margin: -3px 0 0 0;
    background: $color-white;
    transform: rotate(-45deg);
  }
}

.search-input {
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 0.2s ease 0s;
  pointer-events: none;
  margin-left: 35px;
  background: none;
  border: none;
  outline: none;
  color: $color-white;
  font-size: 22px;
  width: calc(100% - 65px);

  @media screen and (min-width: 1024px) {
    margin-left: 70px;
    width: calc(100% - 100px);
  }
}
