$color-white: #ffffff;
$color-black: #000000;
$color-gold: #fda354;
$color-silver: #b9b9b9;
$color-bronze: #da664c;

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 8px;
  background: $color-black;
  color: $color-white;
  font-family: 'Helvetica', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Arial, sans-serif;
}

.title {
  font-size: 24px;
  padding: 20px;
  color: $color-white;
  z-index: 6;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: 768px) {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    font-size: 50px;
    padding: 50px;
    text-align: left;
  }
}

.podium {
  position: fixed;
  z-index: 4;
  font-size: 0;
  top: 100%;
  left: 50%;
  margin-top: -200px;
  margin-left: -150px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    top: 0;
    background: $color-black;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }

  @media screen and (min-width: 768px) {
    top: 50%;
    left: auto;
    right: 0;
    margin-top: -150px;
    margin-right: 160px;

    &::before {
      content: "";
      position: fixed;
      z-index: 3;
      right: auto;
      left: 0;
      top: 0;
      height: 100%;
      width: 60%;
      width: calc(100% - 460px);
      background: linear-gradient(to bottom, rgba($color-black, 0.8) 0%, rgba($color-black, 0.8) 40%, rgba($color-black, 0) 40.1%, rgba($color-black, 0) 60%, rgba($color-black, 0.8) 60.1%, rgba($color-black, 0.8) 100%);
    }

    &::after {
      content: "";
      position: fixed;
      z-index: 3;
      left: auto;
      right: 0;
      top: 0;
      height: 100%;
      width: 160px;
      background: linear-gradient(to bottom, rgba($color-black, 0.8) 0%, rgba($color-black, 0.8) 31%, rgba($color-black, 0) 31.1%, rgba($color-black, 0) 50%, rgba($color-black, 0.8) 50.1%, rgba($color-black, 0.8) 100%);
    }
  }
}

.medal {
  height: 275px;
  width: 100px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
  display: inline-block;

  @media screen and (min-width: 768px) {
    width: 80px;
    height: 225px;
  }

  @media screen and (min-width: 1024px) {
    width: 100px;
    height: 275px;
  }

  &.-gold {
    .medal-body {
      background-image: radial-gradient(50% 50px, circle, rgba($color-gold, 0) 42px, $color-gold 43px);
      box-shadow: 0px 5px 2px 0 rgba($color-gold, 0.8),
                  0px 10px 2px 0 rgba($color-gold, 0.5),
                  0px 15px 2px 0 rgba($color-gold, 0.2);

      @media screen and (min-width: 768px) {
        background-image: radial-gradient(50% 40px, circle, rgba($color-gold, 0) 32px, $color-gold 33px);
      }

      @media screen and (min-width: 1024px) {
        background-image: radial-gradient(50% 50px, circle, rgba($color-gold, 0) 42px, $color-gold 43px);
      }
    }
  }

  &.-silver {
    vertical-align: -50px;

    .medal-body {
      background-image: radial-gradient(50% 50px, circle, rgba($color-silver, 0) 42px, $color-silver 43px);
      box-shadow: 0px 5px 2px 0 rgba($color-silver, 0.8),
                  0px 10px 2px 0 rgba($color-silver, 0.5),
                  0px 15px 2px 0 rgba($color-silver, 0.2);

      @media screen and (min-width: 768px) {
        background-image: radial-gradient(50% 40px, circle, rgba($color-silver, 0) 32px, $color-silver 33px);
      }

      @media screen and (min-width: 1024px) {
        background-image: radial-gradient(50% 50px, circle, rgba($color-silver, 0) 42px, $color-silver 43px);
      }
    }
  }

  &.-bronze {
    vertical-align: -75px;

    .medal-body {
      background-image: radial-gradient(50% 50px, circle, rgba($color-bronze, 0) 42px, $color-bronze 43px);
      box-shadow: 0px 5px 2px 0 rgba($color-bronze, 0.8),
                  0px 10px 2px 0 rgba($color-bronze, 0.5),
                  0px 15px 2px 0 rgba($color-bronze, 0.2);

      @media screen and (min-width: 768px) {
        background-image: radial-gradient(50% 40px, circle, rgba($color-bronze, 0) 32px, $color-bronze 33px);
      }

      @media screen and (min-width: 1024px) {
        background-image: radial-gradient(50% 50px, circle, rgba($color-bronze, 0) 42px, $color-bronze 43px);
      }
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 110px;
    z-index: 1;
  }

  &::before {
    bottom: 100%;
    margin-bottom: -50px;
    background: radial-gradient(50% 100%, circle, rgba($color-black, 0) 50px, $color-black 51px);
    background-repeat: no-repeat;
  }

  &::after {
    top: 100%;
    margin-top: -50px;
    background: radial-gradient(50% 100%, circle, rgba($color-black, 0) 50px, $color-black 51px);
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 768px) {
    &::before,
    &::after {
      height: 100%;
      height: 100vh;
    }
  }
}

.medal-body {
  position: relative;
  z-index: 2;
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.countries {
  position: fixed;
  padding: calc(50vh - 140px) 0 0;
  white-space: nowrap;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  @media screen and (min-width: 768px) {
    position: static;
    margin: calc(100vh - 275px) 0;
    padding: 0 0 0 50px;
    white-space: normal;
    width: auto;
    left: auto;
    top: auto;
    height: auto;
    overflow: visible;
  }
}

.country {
  display: inline-block;
  padding: 0 10px;
  margin-right: 200px;
  width: 100%;
  text-align: center;
  counter-increment: item;

  @media screen and (min-width: 768px) {
    display: block;
    text-align: justify;
    text-justify: distribute;
    font-size: 0;
    padding: 0;
    margin-right: 0;
  }

  &::before {
    content: counter(item);
    color: $color-white;
    font-size: 16px;
    opacity: 0.2;

    @media screen and (min-width: 768px) {
      position: absolute;
      right: 100%;
      margin-right: 15px;
      bottom: 0;
      margin-bottom: 48px;
      opacity: 1;
    }
  }

  &::after {
    content: '';
    height: 0;
    display: inline-block;
    width: 100%;
  }
}

.country-identifier {
  display: block;

  @media screen and (min-width: 768px) {
    height: 150px;
    line-height: 150px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
  }
}

.country-name {
  margin: 10px 0;
  font-size: 40px;

  @media screen and (min-width: 768px) {
    white-space: nowrap;
    max-width: calc(100vw - 550px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 40px;
  }

  @media screen and (min-width: 960px) {
    font-size: 50px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 60px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 70px;
  }
}

.country-count {
  color: rgba($color-white, 0.2);
  font-size: 16px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: -115px;
  }

  @media screen and (min-width: 960px) {
    margin-top: -110px;
  }

  @media screen and (min-width: 1024px) {
    margin-top: -105px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: -100px;
  }
}

.country-medals {
  position: absolute;
  bottom: 38px;
  margin-left: -12px;
  font-size: 0;
  width: 100%;

  @media screen and (min-width: 768px) {
    position: static;
    width: auto;
    bottom: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 74px;
    margin-left: 0;
    margin-bottom: 19px;
  }

  @media screen and (min-width: 1024px) {
    margin-right: 55px;
    margin-bottom: 0;
  }
}

.country-medal {
  display: inline-block;
  font-size: 80px;
  font-weight: 800;
  width: 100px;
  text-align: center;
  position: relative;
  letter-spacing: -0.05em;

  @media screen and (min-width: 768px) {
    width: 80px;
    font-size: 60px;
  }

  @media screen and (min-width: 1024px) {
    width: 100px;
    font-size: 80px;
  }

  &.-gold {
    color: $color-gold;
    top: -80px;
  }

  &.-silver {
    color: $color-silver;
    top: -30px;
  }

  &.-bronze {
    top: -5px;
    color: $color-bronze;
  }

  &.-total {
    display: none;
    position: absolute;
    top: -15px;
    color: rgba($color-white, 0.2);

    @media screen and (min-width: 768px) {
      position: relative;
      display: inline-block;
    }
  }
}
